# fly.toml app configuration file generated for priceguard on 2024-01-05T00:41:06+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "priceguard"
primary_region = "nrt"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = false
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
