name: ESLint Check
on:
  pull_request:
    paths:
      - backend/** 
jobs:
  eslint:
    name: runner / eslint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: reviewdog/action-eslint@v1
        with:
          eslint_flags: "src/"
          filter_mode: file
          workdir: "backend"
          fail_on_error: true
